body {
  margin: 0px;
  padding: 0px;
}

.App {
  padding: 25px 100px;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 25px;
  }
}

.container {
  margin: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
}
h1 {
  text-align: center;
}
.label {
  font-weight: bold;
  width: 20%;
}
.form-group {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}
.form-group input[type="text"] {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 18px;
}
form button {
  border-radius: 10px;
  cursor: pointer;
}

.table-wrapper {
  border: 1px solid black;
  padding: 10px 10px 40px;
  margin: 20px;
  border-radius: 5px;
}

table {
  border: 1px solid black;
  margin: auto;
}

thead {
  background-color: #aaaaaa;
}

tbody {
  background-color: #f67e4f;
}

td button {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 5px;
}

td button:hover {
  background-color: #f67e4f
}

.button-add {
  height: 30px;
  background-color: #0275d8;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100px;
}

.button-add:hover {
  cursor: pointer;
  background-color: #0014c0
}

.form-edit input {
  margin-right: 10px;
  height: 20px;
}
.form-edit button {
  height: 30px;
  background-color: #0275d8;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100px;
  margin: 10px 0px;
}
.form-edit button:hover {
  cursor: pointer;
  background-color: #0014c0
}
.form-edit label {
  margin-right: 10px
}

.form-add input {
  margin-right: 10px;
  height: 20px;
}
.form-add button {
  height: 30px;
  background-color: #0275d8;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100px;
  margin: 10px 0px;
}
.form-add button:hover {
  cursor: pointer;
  background-color: #0014c0
}
.form-add label {
  margin-right: 10px;
}

.button-close {
  height: 30px;
  background-color: tomato;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100px;
  margin: 10px 0px;
}

.button-close:hover {
  cursor: pointer;
  background-color: rgb(206, 64, 39);
}